@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.font-urbanist {
    font-family: "Urbanist", sans-serif;
}

.font-varela {
    font-family: "Varela Round", sans-serif;
}

.font-Gajraj {
    font-family: "Gajraj One", sans-serif;
}

.font-doppio {
    font-family: "Doppio One", sans-serif;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    margin: 0;
    padding: 0;
}

h1 {
    color: #335d92;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.1;
    margin: 4rem auto;
    max-width: 14rem;
}

p {
    max-width: 14rem;
    margin: 2rem auto;
    line-height: 1.35;
}

@media (min-width: 480px) {
    h1 {
        max-width: none;
    }
    p {
        max-width: none;
    }
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-12px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}